<phpunit>
    <testsuite name="ZendL Framework Test Suite">
        <directory>./</directory>
    </testsuite>
    <php>
        <!-- <ini name="include_path" value="../library"/> -->
        <ini name="include_path" value="../library:../../code-zendframework/repo-trunk/library"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
            <!--<file>/path/to/file</file>
            <exclude>
                <directory suffix=".php">/path/to/files</directory>
                <file>/path/to/file</file>
            </exclude>-->
        </whitelist>
    </filter>


    <logging>

        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>

        <log type="graphviz" target="./log/logfile.dot" />

    </logging>

</phpunit>
