<?php
/**
 * @package UnitTests
 *
 * This file defines configuration for running the unit tests for the Zend Framework.
 * Some tests have dependencies to PHP extensions or databases which may not necessary
 * installed on the target system.  For these cases, the ability to disable or configure
 * testing is provided below.  Tests for components which should run universally, such
 * as "Zend" or "Zend_InputFilter", are always run by the master suite and cannot be disabled.
 */

/**
 * Zend_Cache
 *
 * TESTS_ZEND_CACHE_SQLITE_ENABLED    => sqlite extension has to be enabled
 * TESTS_ZEND_CACHE_APC_ENABLED       => apc extension has to be enabled
 * TESTS_ZEND_CACHE_MEMCACHED_ENABLED => memcache extension has to be enabled and 
 *                                       a memcached server has to be available
 */
define('TESTS_ZEND_CACHE_SQLITE_ENABLED', false);
define('TESTS_ZEND_CACHE_APC_ENABLED', false);
define('TESTS_ZEND_CACHE_MEMCACHED_ENABLED', false);
define('TESTS_ZEND_CACHE_MEMCACHED_HOST', '127.0.0.1');
define('TESTS_ZEND_CACHE_MEMCACHED_PORT', 11211);
define('TESTS_ZEND_CACHE_MEMCACHED_PERSISTENT', true);


/**
 * Zend_Db_Adapter_Pdo_MySQL
 */
define('TESTS_ZEND_DB_ADAPTER_PDO_MYSQL_ENABLED',  false);
define('TESTS_ZEND_DB_ADAPTER_PDO_MYSQL_HOSTNAME', '127.0.0.1');
define('TESTS_ZEND_DB_ADAPTER_PDO_MYSQL_USERNAME', null);
define('TESTS_ZEND_DB_ADAPTER_PDO_MYSQL_PASSWORD', null);
define('TESTS_ZEND_DB_ADAPTER_PDO_MYSQL_DATABASE', 'test');


/**
 * Zend_Db_Adapter_Pdo_Sqlite
 */
define('TESTS_ZEND_DB_ADAPTER_PDO_SQLITE_ENABLED',  false);
define('TESTS_ZEND_DB_ADAPTER_PDO_SQLITE_USERNAME', null);
define('TESTS_ZEND_DB_ADAPTER_PDO_SQLITE_PASSWORD', null);
define('TESTS_ZEND_DB_ADAPTER_PDO_SQLITE_DATABASE', ':memory:');


/**
 * Zend_Db_Adapter_Pdo_Mssql
 */
define('TESTS_ZEND_DB_ADAPTER_PDO_MSSQL_ENABLED',  false);
define('TESTS_ZEND_DB_ADAPTER_PDO_MSSQL_HOSTNAME', '127.0.0.1');
define('TESTS_ZEND_DB_ADAPTER_PDO_MSSQL_USERNAME', null);
define('TESTS_ZEND_DB_ADAPTER_PDO_MSSQL_PASSWORD', null);
define('TESTS_ZEND_DB_ADAPTER_PDO_MSSQL_DATABASE', 'test');


/**
 * @todo Pgsql, etc.
 */


/**
 * Zend_HttpClient
 *
 * IMPORTANT: If this option is enabled, the Zend_HttpClient test suite
 * will attempt to retrieve a remote URI.  Do this only on development
 * servers or sites where you have approval to do so.
 */
define('TESTS_ZEND_HTTPCLIENT_REMOTE_ENABLED', true);
define('TESTS_ZEND_HTTPCLIENT_REMOTE_URI',     'http://zend.com');


/**
 * PHPUnit Code Coverage / Test Report
 */
define('TESTS_GENERATE_REPORT', false);
define('TESTS_GENERATE_REPORT_TARGET', '/path/to/target');
