body {
	background: url("images/bkg_top.png") repeat-x;
	font-family: Tahoma, Arial, sans-serif;
	margin: 0px 15px 6px;
}

html {
}
.chapter, .book, .appendix, .sect1 {
	background: url("images/draft.png");
}
.chapter .sect1, .appendix .sect1  {
	background: transparent;
}
h1, h2, h3, h4, h5 {
	font-family: Arial, serif;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 1.3em;
}

h3, h4, h5 {
	font-size: 1em;
	margin: 0.2em;
}

a {
	color:#009EEB;
}

div.note, div.warning, div.tip {
	margin-left: 0.3in;
	margin-right: 0.5in;
	/*border: solid 1px green;*/
	background-color: #EEEEEE;
	padding: 0.1in;
}

div.note img, div.warning img, div.tip img {
	margin-right: 0.1in;
	/*border: solid 1px green;*/
}

pre.programlisting {
	border: 1px solid #D3E0EB;
	background-color: #EDF7FF;
	padding: 0.1in;
	margin: 0.2in;
	clear: right;
	width: 50em;
}

pre.screen {
	border: solid 1px #777;
	background-color: #ddd;
	padding: 0.1in;
	margin: 0.2in;
	clear: right;
}

div.variablelist dl dt span.term {
	font-weight: bold;
}

hr { display: none; }

div.navheader {
	padding-bottom: 0.1in;
	background: 50px 0px url("./images/logo_small.png") no-repeat;
}
div.navheader td {
	background: transparent;
}
div.navheader td img{
	margin-top: 5px;
}
div.navheader tr th{
	padding-top: 10px;
	color: #DDDDDD;
}
div.navfooter {
	margin-top: 0.1in;
	border-top: solid 1px black;
	border-color: #aaa;
	padding-top: 0.1in;
}
div.navfooter td {
	font-size: 0.80em;
}
div.figure-float {
	float: right;
	margin-left: 2em;
	margin-bottom: 2em;
}

div.revinfo {
	text-align: center;
	font-size: 0.7em;
	font-style: italic;
}

code.code {
    font-family: "Lucida Console", monospace;
}

a img {
	border: 0px;
}

div.navheader img {
    position: relative;
	top: -14px;
}

div.table {
	text-align: center;
}
table {
	border: 0;
	border-collapse: collapse;
	margin: auto;
}
th {
	border-collapse: collapse;
	color: #444444;
}
td {
	border-collapse: collapse;
	color: #444444;
}
div.table th, div.table td {
	border: 1px solid #444444;
	font-size: 0.85em;
}
div.table th {
	background: #DDDDDD;
}
div.table p.title {
	font-size: 0.75em;
	margin-bottom: 0px
}
img { behavior: url(iepngfix.htc) }
